<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title id="machine_window_title">Machine window - rt4all</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./bootstrap.css" media="screen">
    <link rel="stylesheet" href="../template/css/bootstrap.min.css">
    <link href="../template/css/style_window.css" rel="stylesheet">
    <script src="../js/py_machine_window.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style="background-color:#eee" onload="get_data()">
    <div class="container">

      <div class="page-header" id="banner" style="margin:0">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1 id="machine_title"></h1>
            <p class="lead"></p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <img src="../template/assets/img/logo_rt4all.png" style="width: 45%;margin-top: 5px;float: right;">
          </div>
        </div>

      </div>
      <!-- Tables
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-md-5" style="padding-bottom: 15px">
            <a id="streaming_button" onclick="start_stream()" class="btn btn-success" style="display: none">Streaming</a>
          </div>
          <div class="col-xs-5" style="padding-bottom: 15px">
            <a id="reconnect_button" onclick="reconnect_button()" class="btn btn-warning" style="">Reconnect</a>
          </div>
          <div class="col-md-5" style="padding-bottom: 15px; float: right;">
            <a id="terminal_button" onclick="toggle_sshterminal()" class="btn btn-primary" style=""><i class="fa fa-terminal" aria-hidden="true"></i> SSH</a>
          </div>
        </div>
        <div class="row">
          <div id="data_alert" class="alert alert-dismissible alert-warning">
                <h4>Warning</h4>
                <p>No data received</p>
          </div>

          <div id = "sensors_panel" class="col-xs-5">
          </div>
          <div class="col-xs-7">
            <div id="controls_panel" class="alert alert-dismissible alert-success" style="display:none">
              Controls <br>
              <p id="go" class="font_regular">w - GO</p>
              <p id="left" class="font_regular">a - LEFT</p>
              <p id="right" class="font_regular">s - RIGHT</p>
              <p id="back" class="font_regular">d - BACK</p>
              <p id="cam_l" class="font_regular">o - Camera turn left</p>
              <p id="cam_r" class="font_regular">p - Camera turn right</p>
              <p id="scoop" class="font_regular">q - Up scoop</p>
            </div>
          </div>

          <div id="div_ssh_terminal" class="col-xs-7">
            <iframe id="ssh_terminal" src="https://192.168.1.138:443" height="200" width="405" style="float:right; display: none;"></iframe>
          </div>
        </div>
          <!-- Modal de si hay camara o no -->
          <div class="col-lg-6">
            <a id="report_button" onclick="generate_report()" class="btn btn-info" style="display: none;">Generate report</a>
          </div>
        </div>
      </div>

      <footer>
      </footer>

    </div>
  </body>
</html>
